/* CSS Document */body{	 background-color: #455441;	 margin:0px;	 font-family:Arial, Helvetica, sans-serif;    font-size:12px;	 padding:0px; 	background-image:url(images/id-card.jpg);	background-repeat:no-repeat;	}#content{	position:absolute;	width:400px;	height:300px;	left: 220px;	top: 65px;}#pic{	position:absolute;	width:159px;	height:190px;	left: 32px;	top: 60px;}
