/* CSS Document */
body{
	 background-color: #455441;
	 margin:0px;
	 font-family:Arial, Helvetica, sans-serif;
	 padding:0px;
}
#header{
	background-image:url(images/mainhead.jpg);
	background-repeat:no-repeat;
	margin:0px;
	height:144px;
	width:1000px;
}
#content{
	position:absolute;
	margin-top:120px;
	background-image:url(images/backgroundrepeater.jpg);
	background-repeat:repeat;
	width:1000px;
	left: 0px;
	top: 18px;
}
#boot{
	position:absolute;
	margin-top:0px;
	padding-bottom:0px;
	background-image:url(images/boot.jpg);
	width:211px;
	height:103px;
	left: 789px;
	top: 0px;
}
#footer{
    clear:both;
	margin-bottom:0px;
	margin-left:0px;
	background-image:url(images/footer.jpg);
	height:148px;
	width:913px;
}
.captions{
	font: 11px Verdana;
	color:#5c543f;
	font-family: Verdana;
	width: 300px;
   line-height: 10px;
}
.footertext{
	font: 9px Verdana;
	color:#938c73;
	text-align:center;
	font-family: Verdana;
	padding: 20px 0px 20px 70px;
	width: 570px;
   	line-height: 10px;
}

.footertext a { color:#7c7661;}
.footertext a:hover{ color:#a8a084}
#text{
	font-size:12px;
	letter-spacing:0px;
	width: 640px;
	margin-left:112px;
	margin-top:0px;
	margin-bottom:0px;
   line-height: 15px;
}
#lefttext{
	margin-top:0px;
	float:left;
	width: 290px;
}
#righttext{
	margin-top:30px;
	float:right;
	width: 330px;
}
#star{ position:absolute;}
#patch{
	position:absolute;
	margin-left:580px;
	margin-top:0px;
}
.navigation{
	position:absolute;
	margin-top:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	letter-spacing:1px;
	color:#455441;
	margin-left:116px;
	text-align:left;
	width:700px;
}
.navigation a{
	color:#000000;
	margin: 0px 8px 0px 12px;
    text-decoration:none;
}
.navigation a:hover{
	color:#000000;
	text-decoration:underline;
}
.links{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}
.links a{
	color:#455441;
	margin: 0px 0px 0px 0px;
    text-decoration:underline;
}
.links a:hover{
	color:#000000;
	text-decoration:underline;
}
.hide { 
position: absolute; 
left: -10000px;
top: auto; 
width: 1px; 
height: 1px; 
overflow: hidden;
} 