/* CSS Document */
body{
     background-color:#455441;
     font-family:Arial, Helvetica, sans-serif;
     padding: 0;
     margin: 0;
}
dt { font-weight:bold;}
#container { margin:0 auto;}
#header{
    background-image:url(images/mainhead.jpg);
    background-repeat:no-repeat;
    margin: 0;
    height:144px;
    width:1000px;
}
#content{
    position:absolute;
    margin-top:120px;
    background-image:url(images/backgroundrepeater.jpg);
    background-repeat:repeat;
    width:1000px;
    left: 0;
    top: 18px;
}
#boot{
    position:absolute;
    margin-top: 0;
    padding-bottom: 0;
    background-image:url(images/boot.jpg);
    width:211px;
    height:103px;
    left: 789px;
    top: 0;
}
#footer{
    clear:both;
    margin-bottom: 0;
    margin-left: 0;
    background-image:url(images/footer.jpg);
    height:148px;
    width:913px;
}
.captions{
    font: 9px Verdana;
    color:#5c543f;
    text-align:right;
    font-family: Verdana;
    width: 300px;
   line-height: 10px;
}
.footertext{
    font: 9px Verdana;
    color:#000;
    text-align:center;
    font-family: Verdana;
    padding: 20px 0 20px 70px;
    width: 570px;
   line-height: 10px;
}
.footertext a { color:#000;}
.footertext a:hover, .footertext a:focus { color:#a8a084}
#text{
    font-size:12px;
    letter-spacing: 0;
    width: 640px;
    margin-left:112px;
    margin-top: 0;
    margin-bottom: 0;
   line-height: 15px;
}
#lefttext{
	margin-top: 0;
    float:left;
    width: 290px;
}
#righttext{
    margin-top:30px;
    float:right;
    width: 330px;
}
#star{ position:absolute;}
#patch{
	position:absolute;
	margin-left:580px;
	margin-top: 0;
}
.navigation{
    position:absolute;
    margin-top:100px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    letter-spacing:1px;
    color:#455441;
    margin-left:116px;
    text-align:left;
    width:700px;
}
.navigation a{
    font-weight:bold;
    color:#000000;
    margin: 0 8px 0 12px;
    text-decoration:none;
}
.navigation a:hover, .navigation a:focus {
    color:#000000;
    text-decoration:underline;
}
.links{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
}
.style1 {font-size: 14px}
.links a{
    color:#455441;
    margin: 0;
    text-decoration:underline;
}
.links a:hover, .links a:focus {
    color:#000000;
    text-decoration:underline;
   }
.title { font-weight:bold;}

.hide { 
position: absolute; 
left: -10000px;
top: auto; 
width: 1px; 
height: 1px; 
overflow: hidden;
} 